<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RFLab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <RFLab.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=KUNSHUMS001;Initial Catalog=Kunsziget_IS; Integrated Security=true</value>
            </setting>
            <setting name="Select" serializeAs="String">
                <value>SELECT COUNT(RfgunSzériaSzám) FROM RFGUN WHERE Felhasználónév LIKE @user</value>
            </setting>
            <setting name="InsertInto" serializeAs="String">
                <value>INSERT INTO RFGUN(Felhasználónév, Jelszó) VALUES(@user, @password)</value>
            </setting>
            <setting name="Update" serializeAs="String">
                <value>UPDATE RFGUN SET Jelszó = @password WHERE Felhasználónév = @user</value>
            </setting>
        </RFLab.Properties.Settings>
    </applicationSettings>
</configuration>
